body {
  color: black;
  text-align: justify;
  background-color: white;
  /* text-align: center; */
}

h4 {
  font-family: "Quattrocento", serif;
}

h3 {
  font-family: "Quattrocento", serif;
}

p {
  font-family: "Quattrocento", serif;
}

.PB-Logo {
  font-family: 'Numans', sans-serif;
  color: black;
  letter-spacing: 2px;
}

.banner {
  padding: 2% 2% 0 2%;
  background-color: white;
}

/* Navigation Bar */


.navbar {
  padding: 0 0 2rem;
}

.navbar-brand {
  font-family: 'Numans', sans-serif;
  font-size: 2rem;
  color: black;
  letter-spacing: 2px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.4rem;
  font-family: 'Numans', sans-serif;
}

.active {
  /* text-decoration-color: red; */
  text-decoration: overline;
}

/* #navbarTogglerDemo02 {
  padding-right: 100px;
  align: right;
} */

/* Spacers */
.gap-text {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.spacer-text {
  font-family: "Quattrocento", serif;
  font-size: 3rem;
}


/* Title */
.landing-page {
  /* background-image: url("images/Landing-pg-bg3.png"); */
  /* width: 1000px; */
  height: 650px;
}

.img-main-landing {
  position: absolute;
  width: 63%;
  left: 0;
}

.tag-line {
  position: absolute;
  font-family: "Quattrocento", serif;
  font-size: 3rem;
  /* font-family: "Quattrocento", serif; */
  /* text-align: center; */
  /* align-self: center; */
  margin-top: 200px;
  padding: 2% 4% 2% 4%;
  background-color: #D3E4CD;
}

.landing-body {
  position: absolute;
  right: 0;
  width: 500px;
  height: 650px;
  /* margin-left: 10px; */
  padding: 0 0 0 2%;;
  background-color: white;
}

.PB-Logo-main {
  font-family: 'Numans', sans-serif;
  font-size: 3rem;
  color: black;
  letter-spacing: 2px;
  margin-top: 50%;
}

.tagline-main {
  width: 400px;
  font-family: "Quattrocento", serif;
  font-size: 1rem;
  text-align: left;
  margin: 10% 0 0 0;
}

.tag-btn {
  width: 200px;
  margin: 12% 0 0 0;
}

.intro-heading {
  letter-spacing: 1.5px;
  text-align: left;
  margin: 8% 0 2% 12%;
}

.first-para-rw {
  margin: 7% 10% 5% 10%;
}

.scnd-para-row {
  margin: 8% 10% 15% 10%;
}

#scnd-para-img {
  position: absolute;
  right: 11.5%;
}

#scnd-para-text {
  position: absolute;
  right: 36%;
  height: 210px;
  width: 800px;
  margin-top: 12%;
  padding: 2% 8% 2% 2.5%;
  background-color: #D3E4CD;
  border-style: solid;
  border-width: thick;
  border-color: white;
  z-index: 2;
}

.usps-text {
  position: absolute;
  left: 12%;
  margin-top: 1%;
  font-family: 'Numans', sans-serif;
  font-size: 1.5rem;
  color: black;
  letter-spacing: 2px;
}

.usps-you {
  text-decoration: overline;
}

.usps-text2 {
  position: absolute;
  left: 12%;
  margin-top: 3.5%;
  font-size: 1rem;
  color: black;
  letter-spacing: 2px;
}

.testim-byline {
  position: absolute;
  right: 40.5%;
  margin-top: 26.2%;
}
/* .testim-space {
  margin-right: 280px;
} */

/* Font Tests */
.text1 {
  font-family: 'Dimensity', sans-serif;
}
.text2 {
  font-family: 'Maginia', sans-serif;
}
.text3 {
  font-family: 'Bhineka', sans-serif;
}
.text4 {
  font-family: 'Mories', sans-serif;
}
.text5 {
  font-family: 'Monterchi Serif Trial', sans-serif;
}
.text6 {
  font-family: "Quattrocento", serif;
}

/* font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Numans', sans-serif;
font-family: 'Sarala', sans-serif;
font-family: 'Sora', sans-serif; */


/* Intro Text */

.intro-text {
  margin-bottom: 20%;
  padding: 1% 0 3% 0;
  background-color: white;
}

.intro-body {
  width: 600px;
  margin: 2% 2% 2% 2%;
  padding: 1% 2% 1% 2%;
  background-color: #D3E4CD;
}

.intro-body-2 {
  width: 430px;
  height: 425px;
  margin-left: 10px;
  padding: 1% 2% 1% 2%;
  background-color: #D3E4CD;
}

.read-more-link {

}

/* What we do */

.WWD-Main-IMG {
  width: 70%;
  margin: 5% 15% 0 15%;
}

.WWD-Main-Title {
  text-align: center;
  font-size: 2.7rem;
  margin: 0 0 10% 0;
}

.WWD-Main-Text {
  position: absolute;
  width: 40%;
  margin: -10% 30% 0 30%;
  padding: 3% 4% 4% 4%;
  background-color: #D3E4CD;
  border-style: solid;
  border-width: thick;
  border-color: white;
  z-index: 2;
}



.what-we-do-text {
  margin-top: 25%;
  background-color: white;
}

.WWD-sml-photo-rw {
  width: 80%;
  margin: 0 10% 1.5% 10%;
}

.WWD-lndscp-sml-img {
  width: 100%;
}

.WWD-Cust-Title {
  text-align: center;
  /* font-size: 2.7rem; */
  margin: 0 0 10% 0;
}

.WWD-2nd-para {
  width: 80%;
  margin: 8% 10% 8% 10%;
}

.WWD-2nd-para-text {
  width: 30%;
  margin: 7% 0 0 12%;
}

.WWD-2nd-para-img {
  width: 40%;
  margin: 0 0 0 12%;
}

.WWD-sml-photo-Matrls-rw {
  width: 80%;
  margin: 5% 10% 1.5% 10%;
  padding-right: 10%;
}

.WWD-Matrls-img {
  width: 90%;
  margin: 0 2% 0 5%;
}

.WWD-Matrls-Text {
  position: absolute;
  width: 45%;
  margin: -6% 0 0 35%;
  padding: 3% 4% 4% 4%;
  background-color: #D3E4CD;
  border-style: solid;
  border-width: thick;
  border-color: white;
  z-index: 2;
}

.WWD-Matrls-Title {
  position: absolute;
  margin: -12.5% 0 0 45%;
  font-size: 1.6rem;
  color: black;
  letter-spacing: 2px;
}

.Matrls-spacer {
  margin-bottom: 20%;
}










.WWD-rw {
  width: 1420px;
  margin: auto;
  padding: 10px 15px 0 15px;
}

.WWD-lndscp-img {
  width: 690px;
  height: 350px;
  margin: 0;
  /* padding: 1% 2% 1% 2%; */
}

.WWD-lndscp-body {
  width: 690px;
  height: 350px;
  margin: 0;
  padding: 1% 2% 1% 2%;
  background-color: #D3E4CD;
}

.WWD-ptr-img {
  width: 450px;
  margin: 0;
  /* padding: 1% 2% 1% 2%; */
}

.WWD-fullwdth-body {
  width: 1410px;
  margin: 0;
  padding: 1% 2% 1% 2%;
  background-color: #D3E4CD;
}

/* Our Designs */

.our-designs-text {
  margin-top: 28%;
}

.des-label {
  width: 65%;
  text-align: center;
  margin: 25% auto 0 auto;
}

.des-spacer {
  margin-top: 7%;
}

.OD-rw {
  width: 1360px;
  margin: auto;
  padding: 10px 15px 0 15px;
}

.OD-sq-body {
  width: 430px;
  height: 425px;
  margin-left: 10px;
  padding: 1% 2% 1% 2%;
  background-color: #D3E4CD;
}

/* Testimonials */
.testimonials-text {
  margin-top: 30%;
}

.testim-content-1 {
  width: 80%;
  margin: 8% 10% 8% 15%;
}

.testim-content-2 {
  width: 80%;
  margin: 8% 10% 8% 15%;
}

.testim-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1%;
}

.testim-body {
  font-size: 1rem;
  width: 450px;
}

.testim-ptr-img {
  width: 450px;
}

.tst-rw {
  width: 1360px;
  margin: auto;
  padding: 10px 15px 0 15px;
}

.tst-sq-body {
  width: 420px;
  height: 425px;
  margin-left: 10px;
  padding: 1% 2% 1% 2%;
  background-color: #FCFFE7;
}

/* Contact Us */
.Contact-Text {
  position: absolute;
  width: 40%;
  margin: -30% 30% 0 30%;
  padding: 3% 4% 4% 4%;
  background-color: #F7F5F2;
  opacity: 0.95;
  border-style: solid;
  border-width: thick;
  border-color: white;
  z-index: 2;
}

.form-control {
  margin-top: 1%;
}

.whatsapp-link {
  width: 900px;
  margin: 3% auto 3% auto;
  /* margin-left: 60%; */
}

.btn:hover {
  background-color: #D3E4CD;
}


/* Footer */
#footer {
  text-align: center;
  padding: 2% 0 3% 0;
}

.PrBa-icon {
  font-size: 2rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 1028px) {

}
