body {
  color: black;
  text-align: justify;
  background-color: white;
  /* text-align: center; */
}

h4 {
  font-family: "Quattrocento", serif;
}

h3 {
  font-family: 'Numans', sans-serif;
  /* font-family: "Quattrocento", serif; */
}

p {
  font-family: "Quattrocento", serif;
}

/* Banner Section */

.banner {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 2% 2% 0 2%;
  background-color: white;
  z-index: 4;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 2rem;
}

.navbar-brand {
  font-family: 'Numans', sans-serif;
  font-size: 2rem;
  color: black;
  letter-spacing: 2px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
  font-family: 'Numans', sans-serif;
}

.active {
  text-decoration: overline;
}

.logo-icon {
  width: 50px;
  padding-bottom: 4px;
}

.navbar-toggler {
  border-style: none;
  /* border: none; */
}


/* Landing Page Section */

.landing-page {
  /* background-image: url("images/Landing-pg-bg3.png"); */
  /* width: 1000px; */
  height: 600px;
}

/* Landing Graphic */
/* #landing-graphic1 {
  display: none;
}

#landing-graphic2 {
  display: none;
}

#landing-graphic3 {
  display: none;
}

#landing-graphic4 {
  display: none;
}

#landing-graphic5 {
  display: none;
}

#landing-graphic6 {
  display: none;
} */

/* .photo-width-test {
  width: 100%;
  left: 0;
} */


.landing-graphic-img {
  display: none;
  position: absolute;
  /* height: 400px; */
  width: 100%;
  left: 0;
  top: -170px;
  clip: rect(300px, auto, auto,0);
}

.landing-graphic-img-contact {
  position: absolute;
  /* height: 400px; */
  width: 100%;
  left: 0;
  /* top: -20%; */
  top: -170px;
  /* top: 130px; */
  clip: rect(300px, auto, auto,0);
}

/* .test-div {
  position: absolute;
  width: 1500px;
  height: 700px;
  left: 0;
  top: 130px;
  background-color: red;
  z-index: -1;
} */

.PB-Logo-main-anim {
  position: relative;
  font-family: "Quattrocento", serif;
  font-size: 35px;
  text-align: center;
  /* font-size: 3rem; */
  color: black;
  opacity: 0.2;
  letter-spacing: 2px;
  margin: 15% 0 0 0;
  z-index: -1;
}

.nav-arrow {
  position: absolute;
  width: 45px;
  /* 3% */
  margin: 2% 45% 0 49%;
  z-index: 2;
}

.nav-arrow-up {
  transform: rotate(180deg);
  width: 45px;
  margin: 2% 45% 0 45%;
}
/* Quote and Sml Image */

.WWD-lndscp-sml-img {
  width: 100%;
}

.testim-quote {
  position: relative;
  font-size: 0.95rem;
  width: 90%;
  background-color: #D3E4CD;
  padding: 4% 7% 2% 6%;
  margin: -15% 5% 0 5%;
  border-style: solid;
  border-width: thick;
  border-color: white;
  z-index: 2;
}

.testim-link {
  font-family: "Quattrocento", serif;
  text-decoration: none;
  color: black;
}

.testim-link:hover {
  color: grey;
}

/* ------------------------------------- */



/* Intro Section ..... index, what, designs*/

.intro-text {
  margin-bottom: 2%;
  padding: 0 0 3% 0;
  background-color: white;
}

.OD-rw-test {
  /* width: 100%; */
  /* width: 1300px; */
  margin: 0 10% 0 10%;
  /* padding: 10px 15px 0 15px; */
}

/* .intro-heading-test-home {
  letter-spacing: 1.5px;
  text-align: left;
  margin: 10% 0 2% 3%;
} */

.intro-heading-test {
  letter-spacing: 1.5px;
  text-align: left;
  margin: 1% 0 1% 0;
}

.first-para-rw-test {
  margin: 2% 10% 0 10%;
}


/* what we do page */

.what-we-do-text {
  /* margin-top: 25%; */
  background-color: white;
}

.WWD-sml-photo-rw-what {
  width: 80%;
  margin: 0 10% 5% 10%;
}

.WWD-sml-photo-rw {
  width: 80%;
  margin: 0 10% 1.5% 10%;
}

.WWD-lndscp-sml-img {
  width: 100%;
  margin-top: 1%;
}

.WWD-2nd-para {
  width: 80%;
  margin: 8% 10% 8% 10%;
}

.WWD-2nd-para-text {
  width: 38%;
  margin: 0 0 0 7%;
}

.WWD-2nd-para-img {
  width: 40%;
  margin: 0 0 0 9%;
}

.WWD-Cust-Title {
  /* text-align: center; */
  /* font-size: 2.7rem; */
  margin: 0 0 10% 0;
}

.WWD-Matrls-img {
  width: 90%;
  margin: 0 2% 0 5%;
}

.testim-content-2 {
  width: 1050px;
  /* width: 80%; */
  margin: 8% 10% 8% 15%;
}

.testim-content-1-what {
  width: 1050px;
  /* width: 80%; */
  margin: 3% 15% 8% 15%;
}


.testim-ptr-img {
  width: 450px;
}

.testim-body-mats {
  font-size: 1rem;
  width: 405px;
}

.bali-mats-col {
  padding-left: 8%;
}

/* Why */

.OD-rw-test-ulu {
  /* width: 100%; */
  /* width: 1300px; */
  margin: 3% 10% 0 10%;
  /* padding: 10px 15px 0 15px; */
}

/* Designs */

.our-designs-text {
  /* margin-top: 28%; */
}


/* .WWD-sml-photo-rw
.WWD-lndscp-sml-img
See above */

.OD-rw-test-3bdr {
  width: 1300px;
  margin: 0 10% 5% 10%;
  /* padding: 10px 15px 0 15px; */
}

.des-spacer {
  margin-top: 7%;
}

/* .WWD-Cust-Title
see above */

/* .testim-body-feat {
  font-size: 1rem;
  width: 370px;
} */

.WWD-lndscp-sml-img-feat {
  width: 100%;
  margin-top: 6%;
}

/* Testimonials */

/* .testim-content-2
.testim-ptr-img
see above */

.testimonials-text {
  /* margin-top: 30%; */
}

.intro-text-testim {
  padding: 1% 0 3% 0;
  background-color: white;
}

.OD-rw-test-testim {
  /* width: 100%; */
  width: 1050px;
  /* width: 1300px; */
  margin: 0 15% 0 15%;
  /* padding: 10px 15px 0 15px; */
  /* margin: auto; */
  /* padding: 10px 15px 0 15px; */
}

.testim-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1%;
}

.testim-body {
  /* font-size: 1rem; */
  width: 450px;
}

.testim-content-1 {
  width: 1050px;
  /* width: 80%; */
  margin: 0 15% 8% 15%;
}

/* Contact */

.WWD-Main-Title {
  text-align: center;
  font-size: 2.7rem;
  margin: 0 0 10% 0;
}

.Contact-Text {
  position: absolute;
  width: 40%;
  margin: -30% 30% 0 30%;
  padding: 3% 4% 4% 4%;
  background-color: #F7F5F2;
  opacity: 0.95;
  border-style: solid;
  border-width: thick;
  border-color: white;
  z-index: 2;
}

.form-control {
  margin-top: 1%;
}

.whatsapp-link {
  width: 900px;
  margin: 3% auto 3% auto;
  /* margin-left: 60%; */
}

.btn:hover {
  background-color: #D3E4CD;
}

.Matrls-spacer {
  margin-bottom: 20%;
}

/* Footer */
#footer {
  text-align: center;
  padding: 2% 0 3% 0;
}

#footer-test {
  text-align: center;
  padding: 0 0 3% 0;
}

.showhome-link {
  /* position: relative; */
  /* font-size: 1rem; */
  width: 400px;
  background-color: #D3E4CD;
  margin: 0 auto 2% auto;
  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: white;
  /* z-index: 2; */
}

.showhome-text {
  margin: 2% 0 2% 0;
}

.PrBa-icon {
  font-size: 2rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon-btn {
  color: black;
}

.icon-btn:hover {
  color: #D3E4CD;
}

/* @media (max-width: 1028px) { */
/* @media (max-width: 768px) { */
@media (max-width: 992px) {


  h3 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.05rem;
  }

  .navbar {
    padding: 0 0 0.9rem;
  }

  .navbar-brand {
    font-size: 1.4rem;
  }

  .logo-icon {
    width: 35px;
  }

  .landing-page {
    width: 100%;
  }

  .PB-Logo-main-anim {
    font-size: 20px;
    margin: -60% 5% 0 5%;
  }

  .land-img-container{
    height: 550px;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }

  .landing-graphic-img {
    display: none;
    position: inherit;
    height: 550px;
    /* width: 900px; */
    min-width: 825px;
    max-width: none;
    margin: 0 0 0 -30%;
    /* left: -170px; */
    /* top: 0; */
    clip: rect(auto, auto, auto, auto);
    /* overflow: hidden; doesn't work*/
  }

  .landing-graphic-img-contact {
    position: inherit;
    height: 550px;
    /* width: 900px; */
    min-width: 825px;
    max-width: none;
    margin: 0 0 0 -30%;
    /* left: -170px; */
    /* top: 0; */
    clip: rect(auto, auto, auto, auto);
  }

  .testim-quote {
    margin: -10% 5% 0 5%;
  }

  .intro-heading-test {
    margin: 2% 0 2% 0;
  }

  .OD-rw-test {
    margin: 0 2% 0 2%;
  }

  .first-para-rw-test {
    margin: 2% 2% 0 2%;
  }

  .OD-rw-test-ulu {
    /* width: 100%; */
    /* width: 1300px; */
    margin: 3% 2% 0 2%;
    /* padding: 10px 15px 0 15px; */
  }

  .WWD-sml-photo-rw-what {
    width: 96%;
    margin: 0 2% 5% 2%;
  }

  .WWD-sml-photo-rw {
    width: 96%;
    margin: 0 2% 1.5% 2%;
  }

  .WWD-lndscp-sml-img {
    margin-top: 5%;
  }

  .testim-content-1-what {
    /* width: 1050px; */
    width: 96%;
    margin: 3% 2% 8% 2%;
  }

  .testim-content-1 {
    /* width: 1050px; */
    width: 96%;
    margin: 0 2% 8% 2%;
  }

  .OD-rw-test-testim {
    width: 96%;
    /* width: 1050px; */
    margin: 0 2% 0 2%;
  }

  .testim-body {
    /* font-size: 1rem; */
    width: auto;
  }

  .testim-ptr-img {
    width: 100%;
    margin-bottom: 7%;
  }

  .Contact-Text {
    position: absolute;
    width: 90%;
    margin: -50% 5% 0 5%;
    padding: 3% 4% 4% 4%;
    background-color: #F7F5F2;
    opacity: 0.95;
    border-style: solid;
    border-width: thick;
    border-color: white;
    z-index: 2;
  }

  .Matrls-spacer {
    margin-bottom: 100%;
  }

  .showhome-link {
    width: 86%;
    max-width: 425px;
    margin: 5% auto 10% auto;
  }












}
